<h1>Countries of {{ continent?.name }}</h1>
<table *ngIf="countries" class="table table-striped table-hover table-sm">
  <thead>
    <tr>
      <th>Name</th>
      <th>Car code</th>
      <th class="right">Population</th>
      <th class="right">Area</th>
      <th>Government</th>
      <th>Date of indep.</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let country of countries">
      <td>{{ country.name }}</td>
      <td>{{ country.carCode }}</td>
      <!-- <td [appHighlight]="{population:country.population, class:'highlight'}" class="right">{{country.population}}</td> -->
      <td class="right">{{ country.population }}</td>
      <td class="right">{{ country.area | number : "1.1-1" }}</td>
      <td>{{ country.government }}</td>
      <td>{{ country.independenceDate | date  }}</td>
    </tr>
  </tbody>
</table>
